<head>
	<title>CITIBIKER</title>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<meta charset="utf-8" /> 
	<link rel="stylesheet" href="stylesheets/hover-min.css">
	<script type="text/javascript" src="javascripts/main.js"></script>
</head>
{{{body}}}